.loading-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

/* @tode - better css not global target */
.ant-form-item-label {
  text-align: left;
}
